* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
html {
  font-size: 62.5%;
}
body {
  color: #ffc233;
  height: 95vh;
  width: 100vw;
  background: url("./assets/pexels-maxyne-barcel-10402282\ 1.png"); /*fallback*/
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/pexels-maxyne-barcel-10402282\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
}

/* ---------- Reusable button element------------ */

/* ------------------------------ */

/* ---------- NAVBAR ------------ */
.navbar {
  margin: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 4.2rem;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.list-item {
  font-size: 1.6rem;
  margin-left: 2rem;
}

/* ------------------------------ */
/* ---------- HERO ------------ */

.hero {
  padding: 9.6rem 20rem;
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
}

.hero-heading {
  font-size: 10rem;
  line-height: 0.9;
  align-self: end;
  margin-bottom: 3.6rem;
}

.button-large,
.button-large:link,
.button-large:visited {
  background-color: #f74361;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.6rem;
}
.bottom {
  justify-self: end;
  position: relative;
}

.bottom div img {
  position: absolute;
  width: 120px;
}
